/* Google Fonts:
font-family: 'Bebas Neue', cursive;
font-family: 'Handlee', cursive;
font-family: 'Lobster', cursive;
font-family: 'Mate SC', serif;
font-family: 'Nothing You Could Do', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Stint Ultra Condensed', cursive;
*/


/* ================================= 
  Element Styles
==================================== */

* {
    box-sizing: border-box;
  }

body {
    font-family: 'Raleway', sans-serif;
    color: #382C8F;  
    background: #fcead4;
  }

.wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 2.5em auto;
    border-radius: .35em;
    background: #fcfcfc;
    overflow: hidden;
    box-shadow: 0 0 26px rgba(0,0,0, .13);
  }

.main {
  min-height: 100px;
 }

 header {
  text-align: center;
  background: linear-gradient(90deg, #d2c0b5, #d4a484, #db9566),
  url('../imgs/books.jpg') no-repeat;
  background-blend-mode: screen;    
  background-size: cover;   
  height: 280px;
  padding: 2.5em 1em 1em;  
  background-position: 0 -95px; 
}

form {
  display:flex;
  width:75%;
}

#book_forms {
    width: 75%;
    padding:1em;
    background: #fcfcfc;
    border-radius: .2em;
    border: solid 2px white;
    box-shadow: 0 1px 14px rgba(0,0,0, .12);
    margin: 4.15em auto;
    z-index: 3000;
    position: relative;
    justify-content: center;
  }

#book_find button {
    font-size: 1em;
    background: #382C8F;  ;
    border-radius: .2em;
    color:#fcf7e9;
    cursor: pointer;
    border: none;
    outline: none;
  }

 
  /* ================================= 
    Text Styling
  ==================================== */

 h1 {
  font-family: 'Poiret One', cursive;
  text-shadow: 0 1px 0 rgba(0,0,0, .4);
  font-size: 5.3em;
  line-height: .65;
  margin-top: .5em;
}

h2 {
  font-size:28px;
  line-height:1em;
}

p {
  font-size: 1.1em;
  text-shadow: 0 1px 0 rgba(0,0,0, .25);
}
label {
  font-size: 0.7em;
}


 /* ================================= 
    Book Styling
  ==================================== */

#bookstack {
  padding: 2em;
}

.book { 
  border-radius: .2em;
  border: solid 1px rgba(48, 50, 51, 0.2);
  width: 90%;
  text-align: center;
  box-shadow: 0 1px 10px rgba(0,0,0, .12);
}

.b_one {
  margin-left: 4.5em;
  background: linear-gradient(0deg, #201952, #382C8F, #201952); 
}
.b_one  h2 {
  font-family: 'Nothing You Could Do', cursive;
  color:#fcfcfc;
  text-shadow: 0 1px 0 rgba(0,0,0, .4);
  margin: 1em;
}

.b_two  {
  margin-left: 2em;
  background: linear-gradient(0deg, #641b31, #A12B4F, #641b31); 
}
.b_two h2 {
  font-family: 'Mate SC', serif;
  color:#fcf7e9;
  text-shadow: 0 2px 0 rgba(248, 204, 204, 0.4);
  margin: 1.5em;
}

.b_three {
  margin-left: 1em;
  background: linear-gradient(0deg, #4d5827, #7E9140, #4d5827); 
}
.b_three  h2 {
  font-family: 'Lobster', cursive;
  color:#bef7a4;
  text-shadow: 0 3px 0 rgba(115, 230, 8, 0.4);
  margin: 0.9em;
}
.b_four{
  margin-left: 2em;
  background: linear-gradient(0deg, #324755, #51738a, #324755); 
}
.b_four  h2 {
  font-family: 'Stint Ultra Condensed', cursive;
  color:#faf6be;
  text-shadow: 0 1px 0 rgba(0,0,0, .4);
  margin: 0.9em;
}
.b_five{
  margin-left: 0;
  background: linear-gradient(0deg, #8f552f, #D47E46, #8f552f); 
}
.b_five  h2 {
  font-family: 'Bebas Neue', cursive;
  color:#333119;
  text-shadow: 0 2px 0 rgba(124, 76, 76, 0.4);
  margin: 1.1em;
}

  /* ================================= 
    Media Queries
  ==================================== */
  
  @media (min-width: 0) and (max-width: 768px) {
    header {
      height: 400px;
      background-position: 0 0; 
    }

    h1 {
      font-size: 3.6em;
      margin: .3em 0 0;
    }

    form {
      width: 95%;
      -webkit-flex-direction: column;
      flex-direction: column;
      margin: auto;
      margin-top: 2.5em;
    }

    form button {
      padding: 12px 0;
      margin-top: .5em;
    }

    .book h2 {
      font-size:18px;
      line-height:1em;
    }

    .b_one {
      margin-left: 0.5em;
    }

  }
  

